set fish_greeting

################################################################################
# XDG
################################################################################

set -gx XDG_CONFIG_HOME $HOME/.config
set -gx XDG_CACHE_HOME $HOME/.cache
set -gx XDG_DATA_HOME $HOME/.local/share
set -gx XDG_STATE_HOME $HOME/.local/state
set -gx XDG_RUNTIME_DIR $HOME/.run

################################################################################
# Environment Variables
################################################################################

set -gx ADFS_USERNAME $(whoami)
set -gx ADFS_AWS_PROFILE comcast
set -gx ANDROID_USER_HOME $XDG_DATA_HOME/android
set -gx ANSIBLE_HOME $XDG_DATA_HOME/ansible
set -gx ARTIFACTORY_TOKEN {{ onepasswordRead "op://Private/Artifactory Token/credential" "jeff@blahspam.com" }}
set -gx AWS_SHARED_CREDENTIALS_FILE $XDG_CONFIG_HOME/aws/credentials
set -gx BUNDLE_USER_CONFIG $XDG_CONFIG_HOME/bundle
set -gx BUNDLE_USER_CACHE $XDG_CACHE_HOME/bundle
set -gx BUNDLE_USER_PLUGIN $XDG_DATA_HOME/bundle
set -gx CDPATH . ~/Develop
set -gx CP_HOME_DIR $XDG_DATA_HOME/cocoapods
set -gx DOCKER_CONFIG $XDG_CONFIG_HOME/docker
set -gx EDITOR nvim
set -gx GHE_TOKEN {{ onepasswordRead "op://Private/GHE Token/credential" "jeff@blahspam.com" }}
set -gx GHEC_TOKEN {{ onepasswordRead "op://Private/GHEC Token/credential" "jeff@blahspam.com" }}
set -gx GIT_EDITOR nvim
set -gx GITHUB_TOKEN {{ onepasswordRead "op://Private/Github/token" "jeff@blahspam.com" }}
set -gx GNUPGHOME $XDG_DATA_HOME/gnupg
set -gx GOPATH $HOME/Develop/go
set -gx GOBIN $GOPATH/bin
set -gx GRADLE_USER_HOME $XDG_DATA_HOME/gradle
set -gx HOMEBREW_HOME /opt/homebrew
set -gx HOMEBREW_BUNDLE_FILE $XDG_CONFIG_HOME/homebrew-bundle/Brewfile
set -gx JAVA_HOME $HOMEBREW_HOME/opt/openjdk/libexec/openjdk.jdk/Contents/Home
set -gx LESSHISTFILE $XDG_DATA_HOME/less/history
set -gx MINIKUBE_HOME $XDG_DATA_HOME/minikube
set -gx NTUSER $(whoami)
set -gx PGPASSFILE $XDG_CONFIG_HOME/psql/pgpass
set -gx PGSERVICEFILE $XDG_CONFIG_HOME/psql/pg_service.conf
set -gx PM_USER {{ onepasswordRead "op://homelab/Proxmox/username" "jeff@blahspam.com" }}
set -gx PM_PASS {{ onepasswordRead "op://homelab/Proxmox/password" "jeff@blahspam.com" }}
set -gx PSQLRC $XDG_CONFIG_HOME/psql/psqlrc
set -gx PSQL_HISTORY $XDG_DATA_HOME/psql/history
set -gx RBENV_ROOT $XDG_DATA_HOME/rbenv
set -gx RDEI_TOKEN {{ onepasswordRead "op://Private/RDEI Token/credential" "jeff@blahspam.com" }}
set -gx SOPS_AGE_KEY_FILE $XDG_CONFIG_HOME/sops/age/keys.txt
set -gx TF_CLI_CONFIG_FILE $XDG_CONFIG_HOME/terraform/.terraformrc
set -gx TF_TOKEN_artifactory_comcast_com $ARTIFACTORY_TOKEN
set -gx TLDR_CACHE_DIR $XDG_CACHE_HOME/tldr

################################################################################
# Path
################################################################################

fish_add_path -pP $HOMEBREW_HOME/bin
fish_add_path -pP $HOMEBREW_HOME/opt/make/libexec/gnubin
fish_add_path -pP $HOMEBREW_HOME/opt/coreutils/libexec/gnubin
fish_add_path -aP $HOMEBREW_HOME/sbin
fish_add_path -aP $GOBIN
fish_add_path -aP $XDG_DATA_HOME/npm/bin
fish_add_path -aP $JAVA_HOME/bin
fish_add_path -aP $HOME/.pub-cache/bin

################################################################################
# Everything Else
################################################################################

if status --is-interactive
  base16-solarflare

  source $XDG_CONFIG_HOME/fish/abbreviations.fish

  # completions
  direnv hook fish | source
  flux completion fish | source
  helm completion fish | source
  kubectl completion fish | source
  mcfly init fish | source
  op completion fish | source
  talosctl completion fish | source
end
