################################################################################
# XDG Support
################################################################################

set -x XDG_CONFIG_HOME $HOME/.config
set -x XDG_CACHE_HOME $HOME/.cache
set -x XDG_DATA_HOME $HOME/.local/share
set -x XDG_STATE_HOME $HOME/.local/state
set -x XDG_RUNTIME_DIR $HOME/.run

set -x AWS_SHARED_CREDENTIALS_FILE $XDG_CONFIG_HOME/aws/credentials
set -x AWS_CONFIG_FILE $XDG_CONFIG_HOME/aws/config

set -x DOCKER_CONFIG $XDG_CONFIG_HOME/docker

set -x HOMEBREW_BUNDLE_FILE $XDG_CONFIG_HOME/homebrew-bundle/Brewfile

set -x LESSHISTFILE $XDG_DATA_HOME/less/history

set -x MINIKUBE_HOME $XDG_CACHE_HOME/minikube
set -x MINIKUBE_IN_STYLE true

set -x NPM_CONFIG_USERCONFIG $XDG_CONFIG_HOME/npm/npmrc

set -x SOPS_AGE_KEY_FILE $XDG_CONFIG_HOME/sops/keys.txt

set -x TF_CLI_CONFIG_FILE $XDG_CONFIG_HOME/terraform

################################################################################
# Other Env Settings
################################################################################

set -x ADFS_USERNAME $NTUSER
set -x ADFS_AWS_PROFILE comcast
set -x AWS_PROFILE comcast

set -gx EDITOR nvim

set -x GOPATH $HOME/Develop/go
set -x GOPRIVATE github.comcast.com,code.comcast.com

set -x NTUSER jbaile223

set -x YGG_ROOT $HOME/Develop/yggdrasil/go
set -x YGG_PRIVATE $HOME/Develop/yggdrasil/linear-engineering-private

set -x PATH \
    (brew --prefix coreutils)/libexec/gnubin \
    (brew --prefix make)/libexec/gnubin \
    $GOPATH/bin \
    /Library/TeX/Distributions/Programs/texbin/ \
    /usr/local/bin \
    /usr/local/sbin \
    /usr/bin \
    /usr/sbin \
    /bin \
    /sbin

################################################################################
# Private Tokens
################################################################################

set -x CHARTMUSEUM_TOKEN {{ (onepasswordDetailsFields "Chart Museum Token").credential.value }}
set -x DO_TOKEN {{ (onepasswordDetailsFields "DigitalOcean API").credential.value }}
# set -x LINEN_RDEI_TOKEN {{ (onepasswordDetailsFields "RDEI Token").credential.value }}
set -x GHE_TOKEN {{ (onepasswordDetailsFields "GHE Token").credential.value }}
set -x GITHUB_TOKEN {{ (onepasswordDetailsFields "Github Token").credential.value }}
set -x PM_USER {{ (onepasswordDetailsFields "Proxmox").username.value }}
set -x PM_PASS {{ (onepasswordDetailsFields "Proxmox").password.value }}
set -x RDEI_TOKEN {{ (onepasswordDetailsFields "RDEI Token").credential.value }}

################################################################################
# Interactive Niceties
################################################################################

if status --is-interactive
    base16-solarflare

    set -x CDPATH . ~/Develop

    bind --user \cf forward-bigword
    bind --user \cb backward-bigword

    op completion fish | source

    direnv hook fish | source

    flux completion fish | source
end




