#! /usr/bin/env zsh

# ignore run commands in /etc
setopt no_global_rcs

################################################################################
# XDG Support
################################################################################
export XDG_CONFIG_HOME="${HOME}/.config"
export XDG_CACHE_HOME="${HOME}/.cache"
export XDG_DATA_HOME="${HOME}/.local/share"
export XDG_STATE_HOME="${HOME}/.local/state"
export XDG_RUNTIME_DIR="${HOME}/tmp"

################################################################################
# Core Env Settings
################################################################################

export AWS_SHARED_CREDENTIALS_FILE="${XDG_CONFIG_HOME}/aws/credentials"
export AWS_CONFIG_FILE="${XDG_CONFIG_HOME}/aws/config"
export DOCKER_CONFIG="${XDG_CONFIG_HOME}/docker"
export HOMEBREW_BUNDLE_FILE="${XDG_CONFIG_HOME}/homebrew-bundle/Brewfile"
export PSQLRC="${XDG_CONFIG_HOME}/pg/psqlrc"
export PGPASSFILE="${XDG_CONFIG_HOME}/pg/pgpass"
# export PGSERVICEFILE="${XDG_CONFIG_HOME}/pg/pg_service.conf"
export PSQL_HISTORY="${XDG_DATA_HOME}/pg/history"
export TF_CLI_CONFIG_FILE=${XDG_CONFIG_HOME}/terraform
export GOPATH="${HOME}/Develop/go"
export GOBIN="${GOPATH}/bin"
export RDEI_TOKEN="{{ (onepasswordDetailsFields "RDEI Token").credential.value }}"
export ZDOTDIR="${XDG_CONFIG_HOME}/zsh"

# path
typeset -U path
path=${HOME}/bin
for f in \
  (brew --prefix coreutils)/libexec/gnubin \
  (brew --prefix make)/libexec/gnubin \
  (brew --prefix make) \
  $GOPATH/bin \
  $XDG_DATA_HOME/npm/bin \
  /Library/TeX/Distributions/Programs/texbin
  /usr/local/bin \
  /usr/local/sbin \
  /usr/bin \
  /usr/sbin \
  /bin \
  /sbin
 do
  [[ -d ${f} ]] && path+=(${f})
done

################################################################################
# Private Tokens
################################################################################
