provider_installation {
  network_mirror {
    url = "https://artifactory.comcast.com/artifactory/api/terraform/viper-altcon-providers/providers/"
    include = ["artifactory.comcast.com/altcon/*"]
  }
  direct {
    exclude = ["artifactory.comcast.com/*/*"]
  }
}
