# Homelab
# public key: {{ (onepasswordDetailsFields "Age Key - Homelab" "" "jeff@blahspam.com").username.value }}
{{ (onepasswordDetailsFields "Age Key - Homelab" "" "jeff@blahspam.com").credential.value }}

# AltCon DevDev Latest
# public key: {{ (onepasswordDetailsFields "Age Key - AltCon Latest" "" "jeff@blahspam.com").username.value }}
{{ (onepasswordDetailsFields "Age Key - AltCon Latest" "" "jeff@blahspam.com").credential.value }}
