# Homelab
# public key: {{ (onepasswordDetailsFields "Age Key - Homelab").username.value }}
{{ (onepasswordDetailsFields "Age Key - Homelab").credential.value }}

# AltCon DevDev Latest
# public key: {{ (onepasswordDetailsFields "Age Key - AltCon Latest").username.value }}
{{ (onepasswordDetailsFields "Age Key - AltCon Latest").credential.value }}
